<section class="foter-info py-5">
    <div class="container py-5">
        <div class="row ">
            <div class="col-md-4">
            <div class="f-part bg-transparent">
                <div class="text text-center text-white">
                    <h3>LOCATION</h3>
                    <p>2215 John Daniel Drive</p>
                    <p>Clark, MO 65243</p>

                </div>
            </div>
            </div>
            <div class="col-md-4">
                <div class="f-part bg-transparent">
                    <div class="text text-center text-white">
                        <h3>AROUND THE WEB</h3>
                        <div class="icons">
                            <i class="fa-brands fa-facebook"></i>
                            <i class="fa-brands fa-twitter"></i>
                            <i class="fa-brands fa-linkedin"></i>
                            <i class="fa-brands fa-dribbble"></i>
                        </div>

    
                    </div>

            </div>
        </div>
        <div class="col-md-4">
            <div class="f-part bg-transparent">
                <div class="text text-center text-white">
                    <h3>ABOUT FREELANCER</h3>
                  
                    <p>Freelance is a free to use, licensed Bootstrap theme created by Route</p>

                </div>
            </div>
            </div>
        </div>
    </div>
</section>
<footer class="py-2">
    <p class="text-center text-white">Copyright © Your Website 2021</p>

</footer>