<section class="about d-flex align-items-center">
    <div class="container p-5 mt-5">
        <div class="text-white text-center w-75 mx-auto "> 
       
            
            <h1 class="fw-bold text-uppercase">about component</h1>
            
                <div class="line"></div>
                <i class="fa-solid fa-star text-white fa-xl px-3"></i>
                <div class="line"></div>
            
           </div>
           <div class="d-flex text-white py-3 px-5">
            <p class="px-2">Freelancer is a free bootstrap theme created by Route. The download includes the complete source files including HTML, CSS, and JavaScript as well as optional SASS stylesheets for easy customization.</p>
            <p class="px-2">Freelancer is a free bootstrap theme created by Route. The download includes the complete source files including HTML, CSS, and JavaScript as well as optional SASS stylesheets for easy customization.</p>
           </div>

    </div>

</section>
