.line{
    background-color:  #2c3e50;
}
i,h1{
    color: #2c3e50 ;
}
.cursor-pointer{
    cursor: pointer;
}
.model{
    z-index: 999;
}
.model img{
    width: 650px;
}

.layer{
    background-color: #1abc9ce9 ;
display: none;
 }

 .item:hover .layer {
display: flex;
transition: all 0.3s ease;
 }
 