<section class="Protfolio">
    <div class=""container p-5 mt-5>
        <div class=" text-center w-75 mx-auto pt-5 "> 
      
            
            <h1 class="fw-bold text-uppercase pt-5 mt-5">portfolio component</h1>
            
                <div class="line"></div>
                <i class="fa-solid fa-star fa-xl px-3"></i>
                <div class="line"></div>

           </div>
        </div>
<div class="container py-4">
<div class="row g-5 pt-4">
    @for (src of imgSrcs; track $index) {
        <div class="col-md-4 cursor-pointer">
            <div (click)="isHeaden = false ; modelImg = src" class="card border-0 position-relative item">
                <img [src]="src" alt="item-photo" class="c-img rounded rounded-3">

<div class="layer position-absolute top-0 start-0 w-100 h-100 justify-content-center rounded rounded-3 align-items-center">
    <i class="fa-solid fa-plus fa-6x text-white text-center "></i>
</div>




            </div>
        </div>
    }
</div>


</div>
<div (click)="hideModel( $event.target , eleImg)"
 [class.d-none]="isHeaden" class="model position-fixed start-0 top-0 w-100 h-100 bg-primary bg-opacity-25 d-flex justify-content-center align-items-center">
    <img #eleImg [src]="modelImg" alt="model-photo">


</div>

</section>