.line{
    background-color:  #2c3e50;
}
i,h1{
    color: #2c3e50 ;
}

label{
    color: #1abc9c;
    margin-bottom: 7px;
    transition: 0.6s top;
}
input.form-control:focus{
    box-shadow: none;
}
.t-label{
    top: 25px !important;
}
.contact-btn{
    background-color: #1abc9c;
}